<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VidToPick</title>
        {% comment %} <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/styles.css"> {% endcomment %}
    </head>
</head>

<body>
  
        <div style="position: relative;">
            <img src="assets/img/Blue Christmas Balls Background.jpeg" style="transform: rotate(0deg) scale(1) skew(0deg);/height: 100%;/height: 630px; width: 100%;" class="ov2"/>
            <div style="    display: flex;
            /* margin-top: -600px; */
            position: relative;
            margin-top: -614px;">
                <div class="col-1">
                    <img src="assets/img/final_logo-removebg-preview.png" class="imagelogo" /></div>
                    <div class="col-2">
                        <h1 class="name" style="    color: #ffffff;
                        
                        position: relative;
                       
                      
                        font-weight: 900;">VidToPick</h1>
                    </div>
                   
                        
                      <a href="#nextdiv" style="text-decoration: none;">  <i class="fa fa-search" href="i.html"style="color:white;display: flex;position: relative;margin-top: 158px;margin-left: 300px;" ></i></a>
                       
                        
              
                    <div class="col-3" style="display: flex;margin-left: -300px;">
                       
                        <a href="i.html"> <i class="fa fa-user" style="color:white;"></i></a>
                          
                      <h1 class="header"style="color:white;" >Login</h1> 
                        
                   </div>
                   <div class="col-4" style="display: flex;">
                        <i class="fa fa-user-plus" style="color:white;"></i>
                        
                        <header class="signup"style="color:white;"> SignUp</header>
                       
                    </div>
                    
            </div>
            <div style="    position: absolute;
             margin-top: -50px; 
            margin-left: 600px;color: #ffffff;">
                

                <div class="main">
                    <span>V</span>
                    <span>i</span>
                    <span>d</span>
                    <span>T</span>
                    
                    <span class="letter"></span>
                    <span>P</span>
                    <span>i</span>
                    <span>c</span>
                    <span>k</span>
                    

                </div>
            <h5 style="margin-left: -400px;color: #ffffff;">This is the application where user can search their desired topic in whole  video and more other perks....</h5>
            <div style="display:flex">
            <div >

                <div class="borderGS">
                    <div>
                        &nbsp;
                    </div>
                    
                <div class="GS"style="color:#11276d;"onclick="alertlogin()" > <i class="fa fa-file" style="color:#11276d;" >&nbsp; </i>Generatae SRT</div>
                
                    
                </div>
                <div class="borderDT">
                    <div>
                        &nbsp;
                    </div>
                    
                    <header class="DT" style="color:#11276d;"onclick="alertlogin()"><i class="fa fa-download" style="color:#11276d;"> &nbsp; </i>Download&Trim</header>
                    
                    
                </div >
            </div>
            <div style="display:flex">
                <div class="borderGP">
                    <div>
                        &nbsp;
                    </div>
                    
                    <header class="GP" style="color:#11276d;"onclick="alertlogin()"> <i class="fa fa-youtube-play"style="color:#11276d;">&nbsp; </i>Generate Preview</header>
                
                    
                </div>
                <div class="borderUL">
                    <div>
                        &nbsp;
                    </div>
                    
                    <header class="UL" style="color:#11276d;"onclick="alertlogin()"> <i class="fa fa-link"style="color:#11276d;">&nbsp; </i>Upload Link</header>
                
                </div>
            </div>

        </div>
        </div>
            <div class="div" style="position:relative; margin-left: 30px;margin-top: -82px;">

                


            </div>
            <a href="#nextdiv"><button class="button" style="vertical-align:middle; position: relative;"><span>EXPLORE </span></button></a>
            
        </div>
        <div class="borderUL">
            
            <header class="UL"> <i class="fa fa-link">&nbsp;</i>Upload Link</header>
        
        </div>
    </div>
    <div    style="background-color: #ffffff; margin-top: -480px;">
        <img src="assets/img/Background-top-shape.png" style="margin-top:-210px">

        <div class="container " >
            <div style="margin-left: -140px;">
                <input id="nextdiv" type="search" class="search" value="  Select Keyword From Subtitle file to get video"/> 
               
                <i class="fa fa-search" style="color: rgb(16, 19, 218);"></i>
                
            </div>
            
           
            <div class="ex1 row" style="margin-top: -100px;">
                <h1 style="color:#11276d">Preview</h1>
                <br>
                <br>
               
                <div class="col-3" style="align-content: space-between;">
                    <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                        <source src="fearless.mp4" type="video/mp4">
                        
                        


                    </video>
                    <h5>TITLE:shjskdsh</h5>
               </div>
                    
                    
                    &nbsp;&nbsp;
                    <div class="col-3" style=" align-content: space-between;">
                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                            <source src="fearless.mp4" type="video/mp4">
                            
                            
    
    
                        </video>
                        <h5>TITLE:shjskdsh</h5>
                        </div>
                        &nbsp;&nbsp;
                        <div class="col-3" style=" align-content: space-between;">
                            <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                <source src="fearless.mp4" type="video/mp4">
                                
                                
        
        
                            </video>
                            <h5>TITLE:shjskdsh</h5>
                            </div>
                            &nbsp;&nbsp;
                            <div class="col-3" style=" align-content: space-between;">
                                <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                    <source src="fearless.mp4" type="video/mp4">
                                    
                                    
            
            
                                </video>
                                <h5>TITLE:shjskdsh</h5>
                                </div>
                                &nbsp;&nbsp;
                                <div class="col-3" style=" align-content: space-between;">
                                    <video  width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                        <source  id="RandomVid" src="" type="video/mp4">
                                        
                                        
                
                
                                    </video>
                                    <h5>TITLE:shjskdsh</h5>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="col-3" style=" align-content: space-between;">
                                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                            <source src="fearless.mp4" type="video/mp4">
                                            
                                            
                    
                    
                                        </video>
                                        <h5>TITLE:shjskdsh</h5>
                                        </div>
                                        &nbsp;&nbsp;
                                        <div class="col-3" style=" align-content: space-between;">
                                            <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                                <source src="fearless.mp4" type="video/mp4">
                                                
                                                
                        
                        
                                            </video>
                                            <h5>TITLE:shjskdsh</h5>
                                            </div>

                                            &nbsp;&nbsp;
                    <div class="col-3" style=" align-content: space-between;">
                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                            <source src="fearless.mp4" type="video/mp4">
                            
                            
    
    
                        </video>
                        <h5>TITLE:shjskdsh</h5>
                        </div>

                        &nbsp;&nbsp;
                    <div class="col-3" style=" align-content: space-between;">
                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                            <source src="fearless.mp4" type="video/mp4">
                            
                            
    
    
                        </video>
                        <h5>TITLE:shjskdsh</h5>
                        </div>
                        &nbsp;&nbsp;
                        <div class="col-3" style=" align-content: space-between;">
                            <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                <source src="fearless.mp4" type="video/mp4">
                                
                                
        
        
                            </video>
                            <h5>TITLE:shjskdsh</h5>
                            </div>
    


                    </div>
                   
        </div>
       
        
    </div>
    <div>
        <img src="assets/img/footer-background.png" style="height:300px;width:1800px;position: relative;">
        <h2 style="position: relative;margin-top: -250px;color:white"id="aboutus"> &nbsp;&nbsp;&nbsp;About Us</h2>
        <h5 style="position: relative;color:white"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;thisa is the webhdkjdhk sdfgdf ehheshdgh</h5>

     </div>
    
      
    
       
<script>
    function alertlogin(){
        alert("Please login")
    }
    window.onload = function(event) {
        
var files = ('/home/mahnoor/Documents/videoss/');
/* now files is an Array of the name of the files in the folder and you can pick a random name inside of that array */
let chosenFile = files[Math.floor(Math.random() * files.length)] 
        
        document.getElementById("RandomVid").src = chosenFile;
      
      //Remove the code below in the real thing
      alert(document.getElementById('RandomVid').src);
    
        }
</script>
</body>

</html>