{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    </head>
</head>

<body>
  
        <div style="position: relative;">
            <img src="{% static 'assets/img/Blue Christmas Balls Background.jpeg' %}" style="transform: rotate(0deg) scale(1) skew(0deg);/*height: 100%;*/height: 630px; width: 100%;" class="ov2"/>
            <div style="    display: flex;
            /* margin-top: -600px; */
            position: relative;
            margin-top: -614px;">
                <div class="col-1">
                    <img src="{% static 'assets/img/final_logo-removebg-preview.png' %}" class="imagelogo" /></div>
                    <div class="col-2">
                        <h1 class="name" style="    color: #ffffff;
                        
                        position: relative;
                       
                      
                        font-weight: 900;">VidToPick</h1>
                    </div>
                   
                        
                      <a href="#nextdiv" style="text-decoration: none;">  <i class="fa fa-search" href="i.html"style="color:white;display: flex;position: relative;margin-top: 158px;margin-left: 300px;" ></i></a>
                       
                        
                    {% if request.user.is_authenticated %}

                    <button class="dropbtn" onclick="myFunction()"style="margin-left: 441px;
                    margin-top: 25px;
                    border-radius: 43px;
                    width: 200px;
                    height: 47px;font-size:18px;
                    "aria-expanded="false" data-bs-toggle="dropdown" type="button" > <i class="fa fa-user" style="color:white;margin-left:-10px; margin-top: -5px;"></i>&nbsp;{{request.user.username}}</button>
                    
                   
                    
                   
                    <div id="myDropdown" class="dropdown-content" style="width: 50px;height: 158px;outline-color: #172a74;margin-top: 74px;margin-left: 1125px;">
                        <a class="dropdown-item" href="{% url 'profile' %}" style="font-size: large;font-style: bold;height: 40px;"> Profile</a>
                        <a class="dropdown-item" href="#" style="font-size: large;height: 40px;">History</a>
                        <a class="dropdown-item" href="#" style="font-size: large;height: 40px;">Favorites</a>
                        <a class="dropdown-item" href="{% url 'logout' %}" style="height:40px;">Logout</a></div>

                        
                       
                    {% else %}
                    <a href="{% url 'auth' %}" style="text-decoration: none;">
                        
                    <div class="col-md-3" style="display: flex;margin-left: -300px;">
                        
                            
                        <i class="fa fa-user" style="color:white;"></i>
                        <h1 class="header"style="color:white;" >Login</h1>
                        
                </div>
            </a>
                <div class="col-4" style="display: flex;">
                        <i class="fa fa-user-plus" style="color:white;"></i>
                        
                        <header class="signup"style="color:white;"> SignUp</header>
                    
                    </div>
                    {% endif %}
                    
            </div>
            <div style="    position: absolute;
             margin-top: -50px; 
            margin-left: 45%;color: #ffffff;">
                

                <div class="main">
                    <span>V</span>
                    <span>i</span>
                    <span>d</span>
                    <span>T</span>
                    
                    <span class="letter"></span>
                    <span>P</span>
                    <span>i</span>
                    <span>c</span>
                    <span>k</span>
                    

                </div>
            <h5 style="margin-left: -400px;color: #ffffff;">This is the application where user can search their desired topic in whole  video and more other perks....</h5>
            <div style="display:flex">
            <div >

                <div class="borderGS">
                    <div>
                        &nbsp;
                    </div>
                    
                <div class="GS"style="color:#11276d;"onclick="alertlogin()" > <i class="fa fa-file" style="color:#11276d;" >&nbsp; </i>Generatae SRT</div>
                
                    
                </div>
                <div class="borderDT">
                    <div>
                        &nbsp;
                    </div>
                    
                    <header class="DT" style="color:#11276d;"onclick="alertlogin()"><i class="fa fa-download" style="color:#11276d;"> &nbsp; </i>Download&Trim</header>
                    
                    
                </div >
            </div>
            <div style="display:flex">
                <div class="borderGP">
                    <div>
                        &nbsp;
                    </div>
                    
                    <header class="GP" style="color:#11276d;"onclick="alertlogin()"> <i class="fa fa-youtube-play"style="color:#11276d;">&nbsp; </i>Generate Preview</header>
                
                    
                </div>
                <div class="borderUL">
                    <div>
                        &nbsp;
                    </div>
                    
                    <header class="UL" style="color:#11276d;"onclick="window.location.href='{% url 'uploadlink' %}'"> <i class="fa fa-link"style="color:#11276d;">&nbsp; </i>Upload Link</header>
                
                </div>
            </div>

        </div>
        </div>
            <div class="div" style="position:relative; margin-left: 30px;margin-top: -82px;">

                


            </div>
            <a href="#nextdiv"><button class="button" style="vertical-align:middle; position: relative;"><span>EXPLORE </span></button></a>
            
        </div>
        <div class="borderUL">
            
            <header class="UL"> <i class="fa fa-link">&nbsp;</i>Upload Link</header>
        
        </div>
    </div>
    <div    style="background-color: #ffffff; margin-top: -480px;">
        <img src="{% static 'assets/img/Background-top-shape.png' %}" style="margin-top:-210px">

        <div class="container " >
            <div style="margin-left: -140px;">
                <input id="nextdiv" type="search" class="search" value="  Select Keyword From Subtitle file to get video"/> 
               
                <i class="fa fa-search" style="color: rgb(16, 19, 218);"></i>
                
            </div>
            
           
            <div class="ex1 row" style="margin-top: -100px;">
                <h1 style="color:#11276d">Preview</h1>
                <br>
                <br>
               
                <div class="col-md-3" style="align-content: space-between;">
                    <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                        <source src="fearless.mp4" type="video/mp4">
                        
                        


                    </video>
                    <h5>TITLE:shjskdsh</h5>
               </div>
                    
                    
                    &nbsp;&nbsp;
                    <div class="col-md-3" style=" align-content: space-between;">
                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                            <source src="fearless.mp4" type="video/mp4">
                            
                            
    
    
                        </video>
                        <h5>TITLE:shjskdsh</h5>
                        </div>
                        &nbsp;&nbsp;
                        <div class="col-md-3" style=" align-content: space-between;">
                            <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                <source src="fearless.mp4" type="video/mp4">
                                
                                
        
        
                            </video>
                            <h5>TITLE:shjskdsh</h5>
                            </div>
                            &nbsp;&nbsp;
                            <div class="col-md-3" style=" align-content: space-between;">
                                <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                    <source src="fearless.mp4" type="video/mp4">
                                    
                                    
            
            
                                </video>
                                <h5>TITLE:shjskdsh</h5>
                                </div>
                                &nbsp;&nbsp;
                                <div class="col-md-3" style=" align-content: space-between;">
                                    <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                        <source src="fearless.mp4" type="video/mp4">
                                        
                                        
                
                
                                    </video>
                                    <h5>TITLE:shjskdsh</h5>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="col-md-3" style=" align-content: space-between;">
                                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                            <source src="fearless.mp4" type="video/mp4">
                                            
                                            
                    
                    
                                        </video>
                                        <h5>TITLE:shjskdsh</h5>
                                        </div>
                                        &nbsp;&nbsp;
                                        <div class="col-md-3" style=" align-content: space-between;">
                                            <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                                <source src="fearless.mp4" type="video/mp4">
                                                
                                                
                        
                        
                                            </video>
                                            <h5>TITLE:shjskdsh</h5>
                                            </div>

                                            &nbsp;&nbsp;
                    <div class="col-md-3" style=" align-content: space-between;">
                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                            <source src="fearless.mp4" type="video/mp4">
                            
                            
    
    
                        </video>
                        <h5>TITLE:shjskdsh</h5>
                        </div>

                        &nbsp;&nbsp;
                    <div class="col-md-3" style=" align-content: space-between;">
                        <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                            <source src="fearless.mp4" type="video/mp4">
                            
                            
    
    
                        </video>
                        <h5>TITLE:shjskdsh</h5>
                        </div>
                        &nbsp;&nbsp;
                        <div class="col-md-3" style=" align-content: space-between;">
                            <video width="100%" height="200px" margin-left="50px" align-content=" space-between" controls>
                                <source src="fearless.mp4" type="video/mp4">
                                
                                
        
        
                            </video>
                            <h5>TITLE:shjskdsh</h5>
                            </div>
    


                    </div>
                   
        </div>
       
        
    </div>
    <div>
        <img src="{% static 'assets/img/footer-background.png' %}" style="height:300px;width:1800px;position: relative;">
        <h2 style="position: relative;margin-top: -250px;color:white"id="aboutus"> &nbsp;&nbsp;&nbsp;About Us</h2>
        <h5 style="position: relative;color:white"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;thisa is the webhdkjdhk sdfgdf ehheshdgh</h5>

     </div>
    
      
    
       
<script>
    function alertlogin(){
        alert("Please login")
    }
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      
      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
</script>
</body>

</html>